.navbar-toggler {
    border: none;
}

#button-search {
    padding-bottom: 10px;
    border: none;
}

#search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
}


@media (min-width:1020px){
    #search-input{
        width: 500px;
        padding: 0;
    }
}

.list-group-item {
    border: none;
    padding: 0;

}

.list-group {
    text-align: end;
}

@media (max-width:425px){
    #logo {
        width: 160px;
        height: 50px;
    }
}